body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #333;
  }
  /* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    width: 100%;
    background: #000;
  /* Optional */
  position: sticky;
  top: 0;
}
/* Hide Hamburger */
#hamnav label, #hamburger { 
    display: none; 
}
/* Horizontal Menu Items */
#hamitems { 
    display: flex; 
    
}
#hamitems a {
    width: 5%; /* 100% / 5 tabs = 20% */
    padding: 15px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 35px;
}
#hamitems a:hover {
    background: #401408;
  }
  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
     /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  /* Toggle Show/Hide Menu */
  #hamitems { 
      display: none; 
    }
  #hamnav input:checked ~ #hamitems { 
      display: block;
     }
}

/* home section */
.container-home{
    max-width: 100%;
    height: 100vh;
    position: relative;
}

.container-home img{
    width: 100%;

}
.centered {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .centered-1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
